# **Descriptive Analysis**

In [2]:
# Import Necessary Packages
import pandas as pd
import numpy as np

In [3]:
# Set Working Directory 
import os 
os.chdir("/home/nico/BMIDS_FP")
os.getcwd()

'/home/nico/BMIDS_FP'

## Table: **chartevents**

In [10]:
# Load csv
df_chartevents = pd.read_csv("chartevents.csv")

In [7]:
# Create Copy 
df_chartevents2 = df_chartevents.copy()

In [11]:
# Convert timestamps to date time 
df_chartevents['charttime'] = pd.to_datetime(df_chartevents['charttime'])
df_chartevents['storetime']= pd.to_datetime(df_chartevents['storetime'])

In [13]:
# Get number of unique values for each column and whether the column is unique 
unique_vals = pd.DataFrame(df_chartevents.nunique())[0].tolist()
unique_vals_count = [val == len(df_chartevents) for val in unique_vals]
print(unique_vals)
print(unique_vals_count)

[432997491, 65366, 85242, 94450, 4600, 12277113, 23681542, 2311, 31598, 27611, 59, 2]
[True, False, False, False, False, False, False, False, False, False, False, False]

In [14]:
# Get count of null values in each column and calculate the percentage of nulls
df_chartevents_null = pd.DataFrame(df_chartevents.isna().sum().reset_index()).rename({'index':'name', 0:'null_count'}, axis=1)

# Get percent null by dividing null_count column by length of df * 100 and formatting into percentage
df_chartevents_null['percent_null'] = df_chartevents_null['null_count'].apply(lambda x: f"{round(x/df_chartevents.shape[0]*100, 1)}%")
null_counts = df_chartevents_null.null_count.tolist()
percent_nulls = df_chartevents_null.percent_null.tolist()
print(null_counts[0:5])
print(percent_nulls[0:5])

[0, 0, 0, 0, 15714257]
['0.0%', '0.0%', '0.0%', '0.0%', '3.6%']

In [15]:
# Get data types for each column
dtype_vals = pd.DataFrame(df_chartevents.dtypes)[0].tolist()
dtype_vals

[dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('<M8[ns]'),
 dtype('<M8[ns]'),
 dtype('int64'),
 dtype('O'),
 dtype('float64'),
 dtype('O'),
 dtype('float64')]

In [16]:
# Calculate mode
modes = df_chartevents.mode().iloc[0,]
modes

row_id                            1
subject_id               10253349.0
hadm_id                  29850931.0
stay_id                  36032605.0
caregiver_id                 3640.0
charttime       2130-10-28 08:00:00
storetime       2161-02-10 12:07:00
itemid                     227969.0
value                             1
valuenum                        1.0
valueuom                       mmHg
warning                         0.0
Name: 0, dtype: object

In [17]:
# Calculate median
medians = []
for i in df_chartevents.columns:
    if (df_chartevents[i]).dtype == "O":
        medians.append("NA")
    else:
        medians.append(df_chartevents[i].median())
medians

[216498746.0,
 15043345.0,
 25040777.0,
 34970602.0,
 46043.0,
 Timestamp('2153-06-21 20:00:00'),
 Timestamp('2153-06-21 22:50:30'),
 224642.0,
 'NA',
 19.0,
 'NA',
 0.0]

In [18]:
# Create extra columns with table information
file_name = ['chartevents.csv']*len(df_chartevents.columns)
column_name = df_chartevents.columns
row_count = [df_chartevents.shape[0]]*len(df_chartevents.columns)
logical_datatypes = dtype_vals

In [20]:
# Create a DataFrame with metadata columns
df_chartevents_final = pd.DataFrame({'File Name':file_name, 'Column Name':column_name, 'Row Count':row_count, 
                        'Unique Values':unique_vals, 'Null Counts':null_counts, 'Null Percentage':percent_nulls,
                        'Logical Data Type':logical_datatypes, 'Mode':modes, 'Median':medians, 'Mode':modes, 'Median':medians})

df_chartevents_final

,File Name,Column Name,Row Count,Unique Values,Null Counts,Null Percentage,Logical Data Type,Mode,Median
row_id,chartevents.csv,row_id,432997491,432997491,0,0.0%,int64,1,216498746.0
subject_id,chartevents.csv,subject_id,432997491,65366,0,0.0%,int64,10253349.0,15043345.0
hadm_id,chartevents.csv,hadm_id,432997491,85242,0,0.0%,int64,29850931.0,25040777.0
stay_id,chartevents.csv,stay_id,432997491,94450,0,0.0%,int64,36032605.0,34970602.0
caregiver_id,chartevents.csv,caregiver_id,432997491,4600,15714257,3.6%,float64,3640.0,46043.0
charttime,chartevents.csv,charttime,432997491,12277113,0,0.0%,datetime64[ns],2130-10-28 08:00:00,2153-06-21 20:00:00
storetime,chartevents.csv,storetime,432997491,23681542,583305,0.1%,datetime64[ns],2161-02-10 12:07:00,2153-06-21 22:50:30
itemid,chartevents.csv,itemid,432997491,2311,0,0.0%,int64,227969.0,224642.0
value,chartevents.csv,value,432997491,31598,12440229,2.9%,object,1,NA
valuenum,chartevents.csv,valuenum,432997491,27611,263786245,60.9%,float64,1.0,19.0
valueuom,chartevents.csv,valueuom,432997491,59,327131226,75.6%,object,mmHg,NA
warning,chartevents.csv,warning,432997491,2,583305,0.1%,float64,0.0,0.0

In [21]:
# Get descriptive statistics 
df_chartevents_describe = df_chartevents.describe().transpose()
df_chartevents_describe

,count,mean,min,25%,50%,75%,max,std
row_id,432997491.0,216498746.000001,1.0,108249373.5,216498746.0,324748118.5,432997491.0,124995609.137951
subject_id,432997491.0,15018718.266149,10000032.0,12517010.0,15043345.0,17521905.0,19999987.0,2892695.213537
hadm_id,432997491.0,25006675.685241,20000094.0,22516759.0,25040777.0,27455256.0,29999828.0,2871356.166348
stay_id,432997491.0,34976387.775266,30000153.0,32475728.0,34970602.0,37470368.0,39999858.0,2886502.459014
caregiver_id,417283234.0,48677.143663,9.0,23669.0,46043.0,73787.0,99970.0,29004.309549
charttime,432997491,2153-08-15 16:03:16.833570816,2109-07-25 00:00:00,2133-10-07 08:00:00,2153-06-21 20:00:00,2173-09-03 00:00:00,2214-07-26 16:00:00,NaN
storetime,432414186,2153-08-15 21:35:30.171676672,2110-01-11 10:24:00,2133-10-07 13:32:00,2153-06-21 22:50:30,2173-09-03 03:17:00,2214-07-26 16:12:00,NaN
itemid,432997491.0,225017.411948,220001.0,223901.0,224642.0,227957.0,230145.0,2921.064091
valuenum,169211246.0,82.32441,-10000000.0,2.0,19.0,86.0,211111000.0,16991.288625
warning,432414186.0,0.021373,0.0,0.0,0.0,0.0,1.0,0.144624

In [22]:
# Reset Index of Description table
df_chartevents_describe = df_chartevents_describe.reset_index(drop=False)

In [23]:
# Add 'Column Name' to Description table
df_chartevents_describe.columns= ['Column Name'] + list(df_chartevents_describe.columns[1:])
df_chartevents_describe

,Column Name,count,mean,min,25%,50%,75%,max,std
0,row_id,432997491.0,216498746.000001,1.0,108249373.5,216498746.0,324748118.5,432997491.0,124995609.137951
1,subject_id,432997491.0,15018718.266149,10000032.0,12517010.0,15043345.0,17521905.0,19999987.0,2892695.213537
2,hadm_id,432997491.0,25006675.685241,20000094.0,22516759.0,25040777.0,27455256.0,29999828.0,2871356.166348
3,stay_id,432997491.0,34976387.775266,30000153.0,32475728.0,34970602.0,37470368.0,39999858.0,2886502.459014
4,caregiver_id,417283234.0,48677.143663,9.0,23669.0,46043.0,73787.0,99970.0,29004.309549
5,charttime,432997491,2153-08-15 16:03:16.833570816,2109-07-25 00:00:00,2133-10-07 08:00:00,2153-06-21 20:00:00,2173-09-03 00:00:00,2214-07-26 16:00:00,NaN
6,storetime,432414186,2153-08-15 21:35:30.171676672,2110-01-11 10:24:00,2133-10-07 13:32:00,2153-06-21 22:50:30,2173-09-03 03:17:00,2214-07-26 16:12:00,NaN
7,itemid,432997491.0,225017.411948,220001.0,223901.0,224642.0,227957.0,230145.0,2921.064091
8,valuenum,169211246.0,82.32441,-10000000.0,2.0,19.0,86.0,211111000.0,16991.288625
9,warning,432414186.0,0.021373,0.0,0.0,0.0,0.0,1.0,0.144624

In [25]:
# Calculate Range, Interquartile Range and Variance 
df_chartevents_describe["Range"] = df_chartevents_describe['max'] - df_chartevents_describe['min']
df_chartevents_describe["Interquartile_Range"] = df_chartevents_describe['75%'] - df_chartevents_describe['25%']
df_chartevents_describe["Variance"] = (df_chartevents_describe['std'])**2

In [26]:
# Merge
df_chartevents_final = df_chartevents_final.merge(df_chartevents_describe, how = 'left', on = 'Column Name')
df_chartevents_final

,File Name,Column Name,Row Count,Unique Values,Null Counts,Null Percentage,Logical Data Type,Mode,Median,count,mean,min,25%,50%,75%,max,std,Range,Interquartile_Range,Variance
0,chartevents.csv,row_id,432997491,432997491,0,0.0%,int64,1,216498746.0,432997491.0,216498746.000001,1.0,108249373.5,216498746.0,324748118.5,432997491.0,124995609.137951,432997490.0,216498745.0,15623902303767378.0
1,chartevents.csv,subject_id,432997491,65366,0,0.0%,int64,10253349.0,15043345.0,432997491.0,15018718.266149,10000032.0,12517010.0,15043345.0,17521905.0,19999987.0,2892695.213537,9999955.0,5004895.0,8367685598417.227539
2,chartevents.csv,hadm_id,432997491,85242,0,0.0%,int64,29850931.0,25040777.0,432997491.0,25006675.685241,20000094.0,22516759.0,25040777.0,27455256.0,29999828.0,2871356.166348,9999734.0,4938497.0,8244686234025.958984
3,chartevents.csv,stay_id,432997491,94450,0,0.0%,int64,36032605.0,34970602.0,432997491.0,34976387.775266,30000153.0,32475728.0,34970602.0,37470368.0,39999858.0,2886502.459014,9999705.0,4994640.0,8331896445893.513672
4,chartevents.csv,caregiver_id,432997491,4600,15714257,3.6%,float64,3640.0,46043.0,417283234.0,48677.143663,9.0,23669.0,46043.0,73787.0,99970.0,29004.309549,99961.0,50118.0,841249972.421644
5,chartevents.csv,charttime,432997491,12277113,0,0.0%,datetime64[ns],2130-10-28 08:00:00,2153-06-21 20:00:00,432997491,2153-08-15 16:03:16.833570816,2109-07-25 00:00:00,2133-10-07 08:00:00,2153-06-21 20:00:00,2173-09-03 00:00:00,2214-07-26 16:00:00,NaN,38351 days 16:00:00,14575 days 16:00:00,NaN
6,chartevents.csv,storetime,432997491,23681542,583305,0.1%,datetime64[ns],2161-02-10 12:07:00,2153-06-21 22:50:30,432414186,2153-08-15 21:35:30.171676672,2110-01-11 10:24:00,2133-10-07 13:32:00,2153-06-21 22:50:30,2173-09-03 03:17:00,2214-07-26 16:12:00,NaN,38181 days 05:48:00,14575 days 13:45:00,NaN
7,chartevents.csv,itemid,432997491,2311,0,0.0%,int64,227969.0,224642.0,432997491.0,225017.411948,220001.0,223901.0,224642.0,227957.0,230145.0,2921.064091,10144.0,4056.0,8532615.426045
8,chartevents.csv,value,432997491,31598,12440229,2.9%,object,1,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,chartevents.csv,valuenum,432997491,27611,263786245,60.9%,float64,1.0,19.0,169211246.0,82.32441,-10000000.0,2.0,19.0,86.0,211111000.0,16991.288625,221111000.0,84.0,288703889.143416
10,chartevents.csv,valueuom,432997491,59,327131226,75.6%,object,mmHg,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,chartevents.csv,warning,432997491,2,583305,0.1%,float64,0.0,0.0,432414186.0,0.021373,0.0,0.0,0.0,0.0,1.0,0.144624,1.0,0.0,0.020916

In [27]:
# Save
df_chartevents_final.to_csv("chartevents_descriptive.csv")

## Table: **admissions**

In [4]:
# Load csv
df_admissions = pd.read_csv("admissions.csv")

In [42]:
# Create Copy 
df_admissions2 = df_admissions.copy()

In [5]:
# Convert timestamps to date time 
df_admissions['admittime'] = pd.to_datetime(df_admissions['admittime'])
df_admissions['dischtime']= pd.to_datetime(df_admissions['dischtime'])
df_admissions['deathtime'] = pd.to_datetime(df_admissions['deathtime'])
df_admissions['edregtime']= pd.to_datetime(df_admissions['edregtime'])
df_admissions['edouttime']= pd.to_datetime(df_admissions['edouttime'])

In [46]:
# Get number of unique values for each column and whether the column is unique 
unique_vals = pd.DataFrame(df_admissions.nunique())[0].tolist()
unique_vals_count = [val == len(df_admissions) for val in unique_vals]
print(unique_vals)
print(unique_vals_count)

[223452, 546028, 534919, 528871, 11788, 9, 2045, 11, 13, 5, 25, 4, 33, 372692, 372755, 2]
[False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False]

In [47]:
# Get count of null values in each column and calculate the percentage of nulls
df_admissions_null = pd.DataFrame(df_admissions.isna().sum().reset_index()).rename({'index':'name', 0:'null_count'}, axis=1)

# Get percent null by dividing null_count column by length of df * 100 and formatting into percentage
df_admissions_null['percent_null'] = df_admissions_null['null_count'].apply(lambda x: f"{round(x/df_admissions.shape[0]*100, 1)}%")
null_counts = df_admissions_null.null_count.tolist()
percent_nulls = df_admissions_null.percent_null.tolist()
print(null_counts[0:5])
print(percent_nulls[0:5])

[0, 0, 0, 0, 534238]
['0.0%', '0.0%', '0.0%', '0.0%', '97.8%']

In [48]:
# Get data types for each column
dtype_vals = pd.DataFrame(df_admissions.dtypes)[0].tolist()
dtype_vals

[dtype('int64'),
 dtype('int64'),
 dtype('<M8[ns]'),
 dtype('<M8[ns]'),
 dtype('<M8[ns]'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('<M8[ns]'),
 dtype('<M8[ns]'),
 dtype('int64')]

In [65]:
# Calculate mode
modes = df_admissions.mode().iloc[0,]
modes

subject_id                       15496609.0
hadm_id                            20000019
admittime               2126-01-09 07:15:00
dischtime               2126-09-02 15:00:00
deathtime               2124-08-30 22:13:00
admission_type                     EW EMER.
admit_provider_id                    P00HGT
admission_location           EMERGENCY ROOM
discharge_location                     HOME
insurance                          Medicare
language                            English
marital_status                      MARRIED
race                                  WHITE
edregtime               2111-01-21 18:20:00
edouttime               2139-06-21 14:55:00
hospital_expire_flag                    0.0
Name: 0, dtype: object

In [84]:
# Calculate median
medians = []
for i in df_admissions.columns:
    if (df_admissions[i]).dtype == "O":
        medians.append("NA")
    else:
        medians.append(df_admissions[i].median())
medians

[15019607.5,
 25003849.0,
 Timestamp('2155-01-11 17:56:00'),
 Timestamp('2155-01-16 13:38:30'),
 Timestamp('2153-11-01 23:12:30'),
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 Timestamp('2155-06-11 20:23:00'),
 Timestamp('2155-06-12 06:27:30'),
 0.0]

In [9]:
# Create extra columns with table information
file_name = ['admissions.csv']*len(df_admissions.columns)
column_name = df_admissions.columns
row_count = [df_admissions.shape[0]]*len(df_admissions.columns)
logical_datatypes = dtype_vals

In [85]:
# Create a DataFrame with metadata columns
df_admissions_final = pd.DataFrame({'File Name':file_name, 'Column Name':column_name, 'Row Count':row_count, 
                        'Unique Values':unique_vals, 'Null Counts':null_counts, 'Null Percentage':percent_nulls,
                        'Logical Data Type':logical_datatypes, 'Mode':modes, 'Median':medians})

df_admissions_final

,File Name,Column Name,Row Count,Unique Values,Null Counts,Null Percentage,Logical Data Type,Mode,Median
subject_id,admissions.csv,subject_id,546028,223452,0,0.0%,int64,15496609.0,15019607.5
hadm_id,admissions.csv,hadm_id,546028,546028,0,0.0%,int64,20000019,25003849.0
admittime,admissions.csv,admittime,546028,534919,0,0.0%,datetime64[ns],2126-01-09 07:15:00,2155-01-11 17:56:00
dischtime,admissions.csv,dischtime,546028,528871,0,0.0%,datetime64[ns],2126-09-02 15:00:00,2155-01-16 13:38:30
deathtime,admissions.csv,deathtime,546028,11788,534238,97.8%,datetime64[ns],2124-08-30 22:13:00,2153-11-01 23:12:30
admission_type,admissions.csv,admission_type,546028,9,0,0.0%,object,EW EMER.,NA
admit_provider_id,admissions.csv,admit_provider_id,546028,2045,4,0.0%,object,P00HGT,NA
admission_location,admissions.csv,admission_location,546028,11,1,0.0%,object,EMERGENCY ROOM,NA
discharge_location,admissions.csv,discharge_location,546028,13,149818,27.4%,object,HOME,NA
insurance,admissions.csv,insurance,546028,5,9355,1.7%,object,Medicare,NA
language,admissions.csv,language,546028,25,775,0.1%,object,English,NA
marital_status,admissions.csv,marital_status,546028,4,13619,2.5%,object,MARRIED,NA
race,admissions.csv,race,546028,33,0,0.0%,object,WHITE,NA
edregtime,admissions.csv,edregtime,546028,372692,166788,30.5%,datetime64[ns],2111-01-21 18:20:00,2155-06-11 20:23:00
edouttime,admissions.csv,edouttime,546028,372755,166788,30.5%,datetime64[ns],2139-06-21 14:55:00,2155-06-12 06:27:30
hospital_expire_flag,admissions.csv,hospital_expire_flag,546028,2,0,0.0%,int64,0.0,0.0

In [97]:
# Get descriptive statistics 
df_admissions_describe = df_admissions.describe().transpose()
df_admissions_describe

,count,mean,min,25%,50%,75%,max,std
subject_id,546028.0,15011181.256086,10000032.0,12523805.0,15019607.5,17504026.0,19999987.0,2877694.299379
hadm_id,546028.0,25001002.583349,20000019.0,22496622.25,25003849.0,27502819.75,29999935.0,2888710.200538
admittime,546028,2155-02-18 15:33:10.993170432,2105-10-04 17:26:00,2135-02-14 13:13:30,2155-01-11 17:56:00,2175-03-15 15:55:30,2214-12-15 19:11:00,NaN
dischtime,546028,2155-02-23 09:50:05.473454080,2105-10-12 11:11:00,2135-02-18 17:15:15.000000512,2155-01-16 13:38:30,2175-03-19 15:11:00,2214-12-24 13:44:00,NaN
deathtime,11790,2153-10-10 11:43:57.603052544,2110-01-25 09:40:00,2133-10-02 13:43:15.000000512,2153-11-01 23:12:30,2173-10-06 11:06:44.999999488,2214-10-12 12:51:00,NaN
edregtime,379240,2155-07-14 16:55:15.539974144,2106-02-06 15:47:00,2135-07-14 13:16:00,2155-06-11 20:23:00,2175-08-05 19:00:30,2214-12-15 00:45:00,NaN
edouttime,379240,2155-07-15 03:48:02.511443968,2106-02-07 09:31:00,2135-07-14 21:32:15.000000512,2155-06-12 06:27:30,2175-08-06 10:40:15.000000512,2214-12-15 22:50:00,NaN
hospital_expire_flag,546028.0,0.021612,0.0,0.0,0.0,0.0,1.0,0.145415

In [98]:
# Reset Index of Description table
df_admissions_describe = df_admissions_describe.reset_index(drop=False)

In [99]:
# Add 'Column Name' to Description Table
df_admissions_describe.columns= ['Column Name'] + list(df_admissions_describe.columns[1:])
df_admissions_describe

,Column Name,count,mean,min,25%,50%,75%,max,std
0,subject_id,546028.0,15011181.256086,10000032.0,12523805.0,15019607.5,17504026.0,19999987.0,2877694.299379
1,hadm_id,546028.0,25001002.583349,20000019.0,22496622.25,25003849.0,27502819.75,29999935.0,2888710.200538
2,admittime,546028,2155-02-18 15:33:10.993170432,2105-10-04 17:26:00,2135-02-14 13:13:30,2155-01-11 17:56:00,2175-03-15 15:55:30,2214-12-15 19:11:00,NaN
3,dischtime,546028,2155-02-23 09:50:05.473454080,2105-10-12 11:11:00,2135-02-18 17:15:15.000000512,2155-01-16 13:38:30,2175-03-19 15:11:00,2214-12-24 13:44:00,NaN
4,deathtime,11790,2153-10-10 11:43:57.603052544,2110-01-25 09:40:00,2133-10-02 13:43:15.000000512,2153-11-01 23:12:30,2173-10-06 11:06:44.999999488,2214-10-12 12:51:00,NaN
5,edregtime,379240,2155-07-14 16:55:15.539974144,2106-02-06 15:47:00,2135-07-14 13:16:00,2155-06-11 20:23:00,2175-08-05 19:00:30,2214-12-15 00:45:00,NaN
6,edouttime,379240,2155-07-15 03:48:02.511443968,2106-02-07 09:31:00,2135-07-14 21:32:15.000000512,2155-06-12 06:27:30,2175-08-06 10:40:15.000000512,2214-12-15 22:50:00,NaN
7,hospital_expire_flag,546028.0,0.021612,0.0,0.0,0.0,0.0,1.0,0.145415

In [100]:
# Calculate Range, Interquartile Range and Variance 
df_admissions_describe["Range"] = df_admissions_describe['max'] - df_admissions_describe['min']
df_admissions_describe["Interquartile_Range"] = df_admissions_describe['75%'] - df_admissions_describe['25%']
df_admissions_describe["Variance"] = (df_admissions_describe['std'])**2

In [104]:
# Merge
df_admissions_final = df_admissions_final.merge(df_admissions_describe, how = 'left', on = 'Column Name')
df_admissions_final

,File Name,Column Name,Row Count,Unique Values,Null Counts,Null Percentage,Logical Data Type,Mode,Median,count,mean,min,25%,50%,75%,max,std,Range,Interquartile_Range,Variance
0,admissions.csv,subject_id,546028,223452,0,0.0%,int64,15496609.0,15019607.5,546028.0,15011181.256086,10000032.0,12523805.0,15019607.5,17504026.0,19999987.0,2877694.299379,9999955.0,4980221.0,8281124480677.838867
1,admissions.csv,hadm_id,546028,546028,0,0.0%,int64,20000019,25003849.0,546028.0,25001002.583349,20000019.0,22496622.25,25003849.0,27502819.75,29999935.0,2888710.200538,9999916.0,5006197.5,8344646622689.755859
2,admissions.csv,admittime,546028,534919,0,0.0%,datetime64[ns],2126-01-09 07:15:00,2155-01-11 17:56:00,546028,2155-02-18 15:33:10.993170432,2105-10-04 17:26:00,2135-02-14 13:13:30,2155-01-11 17:56:00,2175-03-15 15:55:30,2214-12-15 19:11:00,NaN,39883 days 01:45:00,14639 days 02:42:00,NaN
3,admissions.csv,dischtime,546028,528871,0,0.0%,datetime64[ns],2126-09-02 15:00:00,2155-01-16 13:38:30,546028,2155-02-23 09:50:05.473454080,2105-10-12 11:11:00,2135-02-18 17:15:15.000000512,2155-01-16 13:38:30,2175-03-19 15:11:00,2214-12-24 13:44:00,NaN,39884 days 02:33:00,14638 days 21:55:44.999999488,NaN
4,admissions.csv,deathtime,546028,11788,534238,97.8%,datetime64[ns],2124-08-30 22:13:00,2153-11-01 23:12:30,11790,2153-10-10 11:43:57.603052544,2110-01-25 09:40:00,2133-10-02 13:43:15.000000512,2153-11-01 23:12:30,2173-10-06 11:06:44.999999488,2214-10-12 12:51:00,NaN,38245 days 03:11:00,14613 days 21:23:29.999998976,NaN
5,admissions.csv,admission_type,546028,9,0,0.0%,object,EW EMER.,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,admissions.csv,admit_provider_id,546028,2045,4,0.0%,object,P00HGT,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,admissions.csv,admission_location,546028,11,1,0.0%,object,EMERGENCY ROOM,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,admissions.csv,discharge_location,546028,13,149818,27.4%,object,HOME,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,admissions.csv,insurance,546028,5,9355,1.7%,object,Medicare,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,admissions.csv,language,546028,25,775,0.1%,object,English,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,admissions.csv,marital_status,546028,4,13619,2.5%,object,MARRIED,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,admissions.csv,race,546028,33,0,0.0%,object,WHITE,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,admissions.csv,edregtime,546028,372692,166788,30.5%,datetime64[ns],2111-01-21 18:20:00,2155-06-11 20:23:00,379240,2155-07-14 16:55:15.539974144,2106-02-06 15:47:00,2135-07-14 13:16:00,2155-06-11 20:23:00,2175-08-05 19:00:30,2214-12-15 00:45:00,NaN,39757 days 08:58:00,14632 days 05:44:30,NaN
14,admissions.csv,edouttime,546028,372755,166788,30.5%,datetime64[ns],2139-06-21 14:55:00,2155-06-12 06:27:30,379240,2155-07-15 03:48:02.511443968,2106-02-07 09:31:00,2135-07-14 21:32:15.000000512,2155-06-12 06:27:30,2175-08-06 10:40:15.000000512,2214-12-15 22:50:00,NaN,39757 days 13:19:00,14632 days 13:08:00,NaN
15,admissions.csv,hospital_expire_flag,546028,2,0,0.0%,int64,0.0,0.0,546028.0,0.021612,0.0,0.0,0.0,0.0,1.0,0.145415,1.0,0.0,0.021145

In [105]:
# Save
df_admissions_final.to_csv("admissions_descriptive.csv")

### Quality Check: admittime, dischtime

In [11]:
# Initial check to see if there are dischtime before admittime 
is_valid = True
for x in range(len(df_admissions)):
    if df_admissions['admittime'][x] > df_admissions['dischtime'][x]:
        is_valid = False
        break
print(is_valid)

False

In [13]:
# Add column to df for whether dischtime is before admittime 
df_admissions['admittime_error'] = 0
for x in range(len(df_admissions)):
    if df_admissions['admittime'][x] > df_admissions['dischtime'][x]:
        df_admissions['admittime_error'][x] = False
    else: 
        df_admissions['admittime_error'][x] = True

/tmp/ipykernel_99850/626125403.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_admissions['admittime_error'][x] = True
/tmp/ipykernel_99850/626125403.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'True' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_admissions['admittime_error'][x] = True

In [17]:
# Display columns where this is the case # 
filtered_df = df_admissions[df_admissions['admittime_error'] == False]
with pd.option_context('display.max_rows', None):
    print(filtered_df['hadm_id'])

1915      26463092
2681      26714941
3967      23874669
6927      29334858
14088     26331353
15309     23396294
19152     21840440
22023     23792607
26208     21379384
27701     28680274
28957     25052996
29136     28309753
29446     22025371
38352     22626754
41173     21056293
45257     23603697
50328     26365751
54007     23323677
55539     20609236
63695     22277446
65488     21378695
65976     29647253
69982     24834923
70450     20771794
75205     29426063
77031     29678210
77068     24532041
89555     23822647
97597     27807622
98482     21394603
102161    24487833
106031    20087370
106465    21590700
106717    22614565
107272    23885521
107340    24195509
108141    26101181
113303    20020878
114732    27981870
115149    25493102
120606    21242091
122763    22116361
123739    20989293
124432    20220316
128198    24083260
134631    22390219
137132    25285662
144617    20465785
148638    25335983
149740    24532128
154069    27291844
157263    26355816
157307    29444967
159592    25610752
160186    29415763
167471    21861250
173735    23894740
180690    22658929
180710    23794698
184106    25110144
191801    25651377
192191    21247013
196048    22022786
199021    23252384
206789    27876032
210378    22405488
210583    29749627
214779    27197227
216851    29509674
218640    20928649
220561    26824842
226379    27961159
234698    27404352
238945    27957260
241180    29165510
242018    20562168
252879    20468773
254315    21461914
255581    22323500
260141    23128641
260829    22539569
265066    23276491
271482    21460459
272064    23861681
273154    23968426
274331    20837244
275382    22965036
275595    20006925
278799    21385241
282430    20849516
284300    26595395
287741    27705860
287909    25127321
288249    22765803
291907    29668301
292348    23169751
299612    21371730
300329    20182442
303818    21765813
310253    25561335
310952    28056906
312413    26133743
313876    27172876
314879    27698814
315337    20554856
316896    22916644
318499    29390236
319034    21070756
325725    26629835
326315    26471230
328872    24419748
331821    25640683
334042    27699485
337381    27798296
341321    20078203
344559    28693899
344582    28417870
348968    26733982
350900    22715563
352935    22428650
365993    25222043
369134    25047926
370596    23796089
372511    25098547
373829    23744399
374232    21045475
382736    29102514
384032    28766903
390154    27765132
390707    21925092
393925    24910873
400568    24000210
401208    22466140
406809    29053134
409129    28737170
410181    27758142
410787    21115281
412682    28854454
416452    20451446
416603    25887396
423862    27023395
425806    20327393
425874    26611819
427984    28914356
429038    22237587
436408    28133920
443100    20233191
443137    28782584
445871    23557602
446840    28135388
449398    26774233
453810    21239964
458092    24231001
469326    20671778
474657    20268552
483014    29455234
485108    29147354
485292    23873693
487676    29841935
488304    27736169
490352    27933106
491578    22545338
491696    20535253
494535    20819071
497887    24861884
500217    21041973
506178    29448467
511142    25477997
512321    26913798
526504    22808887
527186    20159343
539636    24942188
540602    24196469
541285    22348782
544191    29577757
Name: hadm_id, dtype: int64

## Table: **diagnoses_icd**

In [3]:
# Load csv
df_diagnoses_icd = pd.read_csv("diagnoses_icd.csv")

In [4]:
# Create Copy 
df_diagnoses_icd2 = df_diagnoses_icd.copy()

In [5]:
# Get number of unique values for each column and whether the column is unique 
unique_vals = pd.DataFrame(df_diagnoses_icd.nunique())[0].tolist()
unique_vals_count = [val == len(df_diagnoses_icd) for val in unique_vals]
print(unique_vals)
print(unique_vals_count)

[6364488, 223291, 545497, 39, 28562, 2]
[True, False, False, False, False, False]

In [6]:
# Get count of null values in each column and calculate the percentage of nulls
df_diagnoses_icd_null = pd.DataFrame(df_diagnoses_icd.isna().sum().reset_index()).rename({'index':'name', 0:'null_count'}, axis=1)

# Get percent null by dividing null_count column by length of df * 100 and formatting into percentage
df_diagnoses_icd_null['percent_null'] = df_diagnoses_icd_null['null_count'].apply(lambda x: f"{round(x/df_diagnoses_icd.shape[0]*100, 1)}%")
null_counts = df_diagnoses_icd_null.null_count.tolist()
percent_nulls = df_diagnoses_icd_null.percent_null.tolist()
print(null_counts[0:5])
print(percent_nulls[0:5])

[0, 0, 0, 0, 0]
['0.0%', '0.0%', '0.0%', '0.0%', '0.0%']

In [7]:
# Get data types for each column
dtype_vals = pd.DataFrame(df_diagnoses_icd.dtypes)[0].tolist()
dtype_vals

[dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('O'),
 dtype('int64')]

In [8]:
# Calculate mode
modes = df_diagnoses_icd.mode().iloc[0,]
modes

row_id                  1
subject_id     12468016.0
hadm_id        27635276.0
seq_num               1.0
icd_code             4019
icd_version          10.0
Name: 0, dtype: object

In [9]:
# Calculate median
medians = []
for i in df_diagnoses_icd.columns:
    if (df_diagnoses_icd[i]).dtype == "O":
        medians.append("NA")
    else:
        medians.append(df_diagnoses_icd[i].median())
medians

[3182244.5, 15002062.0, 25004022.0, 7.0, 'NA', 10.0]

In [10]:
# Create extra columns with table information
file_name = ['diagnoses_icd.csv']*len(df_diagnoses_icd.columns)
column_name = df_diagnoses_icd.columns
row_count = [df_diagnoses_icd.shape[0]]*len(df_diagnoses_icd.columns)
logical_datatypes = dtype_vals

In [11]:
# Create a DataFrame with metadata columns
df_diagnoses_icd_final = pd.DataFrame({'File Name':file_name, 'Column Name':column_name, 'Row Count':row_count, 
                        'Unique Values':unique_vals, 'Null Counts':null_counts, 'Null Percentage':percent_nulls,
                        'Logical Data Type':logical_datatypes, 'Mode':modes, 'Median':medians})

df_diagnoses_icd_final

,File Name,Column Name,Row Count,Unique Values,Null Counts,Null Percentage,Logical Data Type,Mode,Median
row_id,diagnoses_icd.csv,row_id,6364488,6364488,0,0.0%,int64,1,3182244.5
subject_id,diagnoses_icd.csv,subject_id,6364488,223291,0,0.0%,int64,12468016.0,15002062.0
hadm_id,diagnoses_icd.csv,hadm_id,6364488,545497,0,0.0%,int64,27635276.0,25004022.0
seq_num,diagnoses_icd.csv,seq_num,6364488,39,0,0.0%,int64,1.0,7.0
icd_code,diagnoses_icd.csv,icd_code,6364488,28562,0,0.0%,object,4019,NA
icd_version,diagnoses_icd.csv,icd_version,6364488,2,0,0.0%,int64,10.0,10.0

In [12]:
# Get descriptive statistics 
df_diagnoses_icd_describe = df_diagnoses_icd.describe().transpose()
df_diagnoses_icd_describe

,count,mean,std,min,25%,50%,75%,max
row_id,6364488.0,3.182244e+06,1.837270e+06,1.0,1591122.75,3182244.5,4773366.25,6364488.0
subject_id,6364488.0,1.500237e+07,2.878400e+06,10000032.0,12510319.50,15002062.0,17501795.00,19999987.0
hadm_id,6364488.0,2.500059e+07,2.889094e+06,20000019.0,22495199.00,25004022.0,27502102.00,29999935.0
seq_num,6364488.0,8.825529e+00,6.858762e+00,1.0,4.00,7.0,12.00,39.0
icd_version,6364488.0,9.542973e+00,4.981499e-01,9.0,9.00,10.0,10.00,10.0

In [13]:
# Reset Index #
df_diagnoses_icd_describe = df_diagnoses_icd_describe.reset_index(drop=False)

In [14]:
# Change to "Column Name"
df_diagnoses_icd_describe.columns= ['Column Name'] + list(df_diagnoses_icd_describe.columns[1:])
df_diagnoses_icd_describe

,Column Name,count,mean,std,min,25%,50%,75%,max
0,row_id,6364488.0,3.182244e+06,1.837270e+06,1.0,1591122.75,3182244.5,4773366.25,6364488.0
1,subject_id,6364488.0,1.500237e+07,2.878400e+06,10000032.0,12510319.50,15002062.0,17501795.00,19999987.0
2,hadm_id,6364488.0,2.500059e+07,2.889094e+06,20000019.0,22495199.00,25004022.0,27502102.00,29999935.0
3,seq_num,6364488.0,8.825529e+00,6.858762e+00,1.0,4.00,7.0,12.00,39.0
4,icd_version,6364488.0,9.542973e+00,4.981499e-01,9.0,9.00,10.0,10.00,10.0

In [15]:
# Calculate Range, Interquartile Range and Variance 
df_diagnoses_icd_describe["Range"] = df_diagnoses_icd_describe['max'] - df_diagnoses_icd_describe['min']
df_diagnoses_icd_describe["Interquartile_Range"] = df_diagnoses_icd_describe['75%'] - df_diagnoses_icd_describe['25%']
df_diagnoses_icd_describe["Variance"] = (df_diagnoses_icd_describe['std'])**2

In [16]:
# Merge
df_diagnoses_icd_final = df_diagnoses_icd_final.merge(df_diagnoses_icd_describe, how = 'left', on = 'Column Name')
df_diagnoses_icd_final

,File Name,Column Name,Row Count,Unique Values,Null Counts,Null Percentage,Logical Data Type,Mode,Median,count,mean,std,min,25%,50%,75%,max,Range,Interquartile_Range,Variance
0,diagnoses_icd.csv,row_id,6364488,6364488,0,0.0%,int64,1,3182244.5,6364488.0,3.182244e+06,1.837270e+06,1.0,1591122.75,3182244.5,4773366.25,6364488.0,6364487.0,3182243.5,3.375559e+12
1,diagnoses_icd.csv,subject_id,6364488,223291,0,0.0%,int64,12468016.0,15002062.0,6364488.0,1.500237e+07,2.878400e+06,10000032.0,12510319.50,15002062.0,17501795.00,19999987.0,9999955.0,4991475.5,8.285188e+12
2,diagnoses_icd.csv,hadm_id,6364488,545497,0,0.0%,int64,27635276.0,25004022.0,6364488.0,2.500059e+07,2.889094e+06,20000019.0,22495199.00,25004022.0,27502102.00,29999935.0,9999916.0,5006903.0,8.346862e+12
3,diagnoses_icd.csv,seq_num,6364488,39,0,0.0%,int64,1.0,7.0,6364488.0,8.825529e+00,6.858762e+00,1.0,4.00,7.0,12.00,39.0,38.0,8.0,4.704261e+01
4,diagnoses_icd.csv,icd_code,6364488,28562,0,0.0%,object,4019,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,diagnoses_icd.csv,icd_version,6364488,2,0,0.0%,int64,10.0,10.0,6364488.0,9.542973e+00,4.981499e-01,9.0,9.00,10.0,10.00,10.0,1.0,1.0,2.481533e-01

In [17]:
df_diagnoses_icd_final.to_csv("diagnoses_icd_descriptive.csv")

## Table: **d_items**

In [124]:
# Load csv
df_d_items = pd.read_csv("d_items.csv")

In [125]:
# Create Copy 
df_d_items2 = df_d_items.copy()

In [126]:
# Get number of unique values for each column and whether the column is unique 
unique_vals = pd.DataFrame(df_d_items.nunique())[0].tolist()
unique_vals_count = [val == len(df_d_items) for val in unique_vals]
print(unique_vals)
print(unique_vals_count)

[4095, 3965, 3972, 6, 83, 59, 8, 11, 14]
[True, False, False, False, False, False, False, False, False]

In [127]:
# Get count of null values in each column and calculate the percentage of nulls
df_d_items_null = pd.DataFrame(df_d_items.isna().sum().reset_index()).rename({'index':'name', 0:'null_count'}, axis=1)

# Get percent null by dividing null_count column by length of df * 100 and formatting into percentage
df_d_items_null['percent_null'] = df_d_items_null['null_count'].apply(lambda x: f"{round(x/df_d_items.shape[0]*100, 1)}%")
null_counts = df_d_items_null.null_count.tolist()
percent_nulls = df_d_items_null.percent_null.tolist()

[0, 0, 0, 0, 0]
['0.0%', '0.0%', '0.0%', '0.0%', '0.0%']

In [128]:
# Get data types for each column
dtype_vals = pd.DataFrame(df_d_items.dtypes)[0].tolist()
dtype_vals

[dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('float64')]

In [129]:
# Calculate mode
modes = df_d_items.mode().iloc[0,]
modes

itemid                                  220001
label            CAM-ICU Disorganized thinking
abbreviation     CAM-ICU Disorganized thinking
linksto                            chartevents
category                     Skin - Impairment
unitname                                    mL
param_type                                Text
lownormvalue                               4.0
highnormvalue                             20.0
Name: 0, dtype: object

In [130]:
# Calculate median
medians = []
for i in df_d_items.columns:
    if (df_d_items[i]).dtype == "O":
        medians.append("NA")
    else:
        medians.append(df_d_items[i].median())
medians

[227004.0, 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 10.0, 22.5]

In [131]:
# Create extra columns with table information
file_name = ['d_items.csv']*len(df_d_items.columns)
column_name = df_d_items.columns
row_count = [df_d_items.shape[0]]*len(df_d_items.columns)
logical_datatypes = dtype_vals

In [132]:
# Create a DataFrame with metadata columns
df_d_items_final = pd.DataFrame({'File Name':file_name, 'Column Name':column_name, 'Row Count':row_count, 
                        'Unique Values':unique_vals, 'Null Counts':null_counts, 'Null Percentage':percent_nulls,
                        'Logical Data Type':logical_datatypes, 'Mode':modes, 'Median':medians})

df_d_items_final

,File Name,Column Name,Row Count,Unique Values,Null Counts,Null Percentage,Logical Data Type,Mode,Median
itemid,d_items.csv,itemid,4095,4095,0,0.0%,int64,220001,227004.0
label,d_items.csv,label,4095,3965,0,0.0%,object,CAM-ICU Disorganized thinking,NA
abbreviation,d_items.csv,abbreviation,4095,3972,0,0.0%,object,CAM-ICU Disorganized thinking,NA
linksto,d_items.csv,linksto,4095,6,0,0.0%,object,chartevents,NA
category,d_items.csv,category,4095,83,0,0.0%,object,Skin - Impairment,NA
unitname,d_items.csv,unitname,4095,59,2972,72.6%,object,mL,NA
param_type,d_items.csv,param_type,4095,8,0,0.0%,object,Text,NA
lownormvalue,d_items.csv,lownormvalue,4095,11,4076,99.5%,float64,4.0,10.0
highnormvalue,d_items.csv,highnormvalue,4095,14,4073,99.5%,float64,20.0,22.5

In [133]:
# Get descriptive statistics 
df_d_items_describe = df_d_items.describe().transpose()
df_d_items_describe

,count,mean,std,min,25%,50%,75%,max
itemid,4095.0,226607.692796,2493.494899,220001.0,224993.5,227004.0,228615.5,230177.0
lownormvalue,19.0,65.000000,107.356623,-2.0,4.0,10.0,60.0,299.0
highnormvalue,22.0,133.640909,253.076007,8.0,15.0,22.5,87.5,750.0

In [134]:
# Reset Index of Description table
df_d_items_describe = df_d_items_describe.reset_index(drop=False)

In [135]:
# Add 'Column Name' to description table 
df_d_items_describe.columns= ['Column Name'] + list(df_d_items_describe.columns[1:])
df_d_items_describe

,Column Name,count,mean,std,min,25%,50%,75%,max
0,itemid,4095.0,226607.692796,2493.494899,220001.0,224993.5,227004.0,228615.5,230177.0
1,lownormvalue,19.0,65.000000,107.356623,-2.0,4.0,10.0,60.0,299.0
2,highnormvalue,22.0,133.640909,253.076007,8.0,15.0,22.5,87.5,750.0

In [136]:
# Calculate Range, Interquartile Range and Variance 
df_d_items_describe["Range"] = df_d_items_describe['max'] - df_d_items_describe['min']
df_d_items_describe["Interquartile_Range"] = df_d_items_describe['75%'] - df_d_items_describe['25%']
df_d_items_describe["Variance"] = (df_d_items_describe['std'])**2

In [137]:
# Merge
df_d_items_final = df_d_items_final.merge(df_d_items_describe, how = 'left', on = 'Column Name')
df_d_items_final

,File Name,Column Name,Row Count,Unique Values,Null Counts,Null Percentage,Logical Data Type,Mode,Median,count,mean,std,min,25%,50%,75%,max,Range,Interquartile_Range,Variance
0,d_items.csv,itemid,4095,4095,0,0.0%,int64,220001,227004.0,4095.0,226607.692796,2493.494899,220001.0,224993.5,227004.0,228615.5,230177.0,10176.0,3622.0,6.217517e+06
1,d_items.csv,label,4095,3965,0,0.0%,object,CAM-ICU Disorganized thinking,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,d_items.csv,abbreviation,4095,3972,0,0.0%,object,CAM-ICU Disorganized thinking,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,d_items.csv,linksto,4095,6,0,0.0%,object,chartevents,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d_items.csv,category,4095,83,0,0.0%,object,Skin - Impairment,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,d_items.csv,unitname,4095,59,2972,72.6%,object,mL,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,d_items.csv,param_type,4095,8,0,0.0%,object,Text,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,d_items.csv,lownormvalue,4095,11,4076,99.5%,float64,4.0,10.0,19.0,65.000000,107.356623,-2.0,4.0,10.0,60.0,299.0,301.0,56.0,1.152544e+04
8,d_items.csv,highnormvalue,4095,14,4073,99.5%,float64,20.0,22.5,22.0,133.640909,253.076007,8.0,15.0,22.5,87.5,750.0,742.0,72.5,6.404747e+04

In [138]:
df_d_items_final.to_csv("d_items_descriptive.csv")

## Table: **icustays**

In [4]:
# Load csv
df_icustays = pd.read_csv("icustays.csv")

In [5]:
# Create Copy 
df_icustays2 = df_icustays.copy()

In [6]:
# Convert timestamps to date time 
df_icustays['intime'] = pd.to_datetime(df_icustays['intime'])
df_icustays['outtime']= pd.to_datetime(df_icustays['outtime'])

In [7]:
# Get number of unique values for each column and whether the column is unique 
unique_vals = pd.DataFrame(df_icustays.nunique())[0].tolist()
unique_vals_count = [val == len(df_icustays) for val in unique_vals]
print(unique_vals)
print(unique_vals_count)

[65366, 85242, 94458, 17, 17, 94449, 94442, 84932]
[False, False, True, False, False, False, False, False]

In [8]:
# Get count of null values in each column and calculate the percentage of nulls
df_icustays_null = pd.DataFrame(df_icustays.isna().sum().reset_index()).rename({'index':'name', 0:'null_count'}, axis=1)

# Get percent null by dividing null_count column by length of df * 100 and formatting into percentage
df_icustays_null['percent_null'] = df_icustays_null['null_count'].apply(lambda x: f"{round(x/df_icustays.shape[0]*100, 1)}%")
null_counts = df_icustays_null.null_count.tolist()
percent_nulls = df_icustays_null.percent_null.tolist()
print(null_counts[0:5])
print(percent_nulls[0:5])

[0, 0, 0, 0, 0]
['0.0%', '0.0%', '0.0%', '0.0%', '0.0%']

In [9]:
# Get data types for each column
dtype_vals = pd.DataFrame(df_icustays.dtypes)[0].tolist()
dtype_vals

[dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('<M8[ns]'),
 dtype('<M8[ns]'),
 dtype('float64')]

In [10]:
# Calculate mode
modes = df_icustays.mode().iloc[0,]
modes

subject_id                                12468016.0
hadm_id                                   29633749.0
stay_id                                     30000153
first_careunit    Medical Intensive Care Unit (MICU)
last_careunit     Medical Intensive Care Unit (MICU)
intime                           2135-04-02 18:00:00
outtime                          2143-08-24 17:52:00
los                                         0.876516
Name: 0, dtype: object

In [11]:
# Calculate median
medians = []
for i in df_icustays.columns:
    if (df_icustays[i]).dtype == "O":
        medians.append("NA")
    else:
        medians.append(df_icustays[i].median())
medians

[15005544.0,
 24982475.0,
 34999442.5,
 'NA',
 'NA',
 Timestamp('2153-09-27 20:32:30'),
 Timestamp('2153-10-01 12:22:23.000000512'),
 1.9656481481481485]

In [12]:
# Create extra columns with table information
file_name = ['icustays.csv']*len(df_icustays.columns)
column_name = df_icustays.columns
row_count = [df_icustays.shape[0]]*len(df_icustays.columns)
logical_datatypes = dtype_vals

In [13]:
# Create a DataFrame with metadata columns
df_icustays_final = pd.DataFrame({'File Name':file_name, 'Column Name':column_name, 'Row Count':row_count, 
                        'Unique Values':unique_vals, 'Null Counts':null_counts, 'Null Percentage':percent_nulls,
                        'Logical Data Type':logical_datatypes, 'Mode':modes, 'Median':medians})

df_icustays_final

,File Name,Column Name,Row Count,Unique Values,Null Counts,Null Percentage,Logical Data Type,Mode,Median
subject_id,icustays.csv,subject_id,94458,65366,0,0.0%,int64,12468016.0,15005544.0
hadm_id,icustays.csv,hadm_id,94458,85242,0,0.0%,int64,29633749.0,24982475.0
stay_id,icustays.csv,stay_id,94458,94458,0,0.0%,int64,30000153,34999442.5
first_careunit,icustays.csv,first_careunit,94458,17,0,0.0%,object,Medical Intensive Care Unit (MICU),NA
last_careunit,icustays.csv,last_careunit,94458,17,0,0.0%,object,Medical Intensive Care Unit (MICU),NA
intime,icustays.csv,intime,94458,94449,0,0.0%,datetime64[ns],2135-04-02 18:00:00,2153-09-27 20:32:30
outtime,icustays.csv,outtime,94458,94442,14,0.0%,datetime64[ns],2143-08-24 17:52:00,2153-10-01 12:22:23.000000512
los,icustays.csv,los,94458,84932,14,0.0%,float64,0.876516,1.965648

In [14]:
# Get descriptive statistics 
df_icustays_describe = df_icustays.describe().transpose()
df_icustays_describe

,count,mean,min,25%,50%,75%,max,std
subject_id,94458.0,15004216.687724,10000032.0,12514630.25,15005544.0,17517575.0,19999987.0,2884050.250513
hadm_id,94458.0,24981846.002033,20000094.0,22482122.5,24982475.0,27465060.5,29999828.0,2884066.496535
stay_id,94458.0,34998318.033306,30000153.0,32506784.75,34999442.5,37490986.0,39999858.0,2886406.761494
intime,94458,2153-10-25 12:54:18.197009408,2110-01-11 10:16:06,2133-11-20 18:31:35.500000256,2153-09-27 20:32:30,2173-11-22 06:48:00,2214-07-22 17:05:53,NaN
outtime,94444,2153-10-28 15:34:24.787058688,2110-01-12 17:17:47,2133-11-23 07:15:37.749999616,2153-10-01 12:22:23.000000512,2173-11-26 18:02:40.250000384,2214-07-26 17:13:57,NaN
los,94444.0,3.630025,0.00125,1.096212,1.965648,3.862575,226.403079,5.402474

In [15]:
# Reset Index of Description table
df_icustays_describe = df_icustays_describe.reset_index(drop=False)

In [16]:
# Add 'Column Name' to Description table
df_icustays_describe.columns= ['Column Name'] + list(df_icustays_describe.columns[1:])
df_icustays_describe

,Column Name,count,mean,min,25%,50%,75%,max,std
0,subject_id,94458.0,15004216.687724,10000032.0,12514630.25,15005544.0,17517575.0,19999987.0,2884050.250513
1,hadm_id,94458.0,24981846.002033,20000094.0,22482122.5,24982475.0,27465060.5,29999828.0,2884066.496535
2,stay_id,94458.0,34998318.033306,30000153.0,32506784.75,34999442.5,37490986.0,39999858.0,2886406.761494
3,intime,94458,2153-10-25 12:54:18.197009408,2110-01-11 10:16:06,2133-11-20 18:31:35.500000256,2153-09-27 20:32:30,2173-11-22 06:48:00,2214-07-22 17:05:53,NaN
4,outtime,94444,2153-10-28 15:34:24.787058688,2110-01-12 17:17:47,2133-11-23 07:15:37.749999616,2153-10-01 12:22:23.000000512,2173-11-26 18:02:40.250000384,2214-07-26 17:13:57,NaN
5,los,94444.0,3.630025,0.00125,1.096212,1.965648,3.862575,226.403079,5.402474

In [17]:
# Calculate Range, Interquartile Range and Variance 
df_icustays_describe["Range"] = df_icustays_describe['max'] - df_icustays_describe['min']
df_icustays_describe["Interquartile_Range"] = df_icustays_describe['75%'] - df_icustays_describe['25%']
df_icustays_describe["Variance"] = (df_icustays_describe['std'])**2

In [18]:
# Merge
df_icustays_final = df_icustays_final.merge(df_icustays_describe, how = 'left', on = 'Column Name')
df_icustays_final

,File Name,Column Name,Row Count,Unique Values,Null Counts,Null Percentage,Logical Data Type,Mode,Median,count,mean,min,25%,50%,75%,max,std,Range,Interquartile_Range,Variance
0,icustays.csv,subject_id,94458,65366,0,0.0%,int64,12468016.0,15005544.0,94458.0,15004216.687724,10000032.0,12514630.25,15005544.0,17517575.0,19999987.0,2884050.250513,9999955.0,5002944.75,8317745847486.47168
1,icustays.csv,hadm_id,94458,85242,0,0.0%,int64,29633749.0,24982475.0,94458.0,24981846.002033,20000094.0,22482122.5,24982475.0,27465060.5,29999828.0,2884066.496535,9999734.0,4982938.0,8317839556433.03125
2,icustays.csv,stay_id,94458,94458,0,0.0%,int64,30000153,34999442.5,94458.0,34998318.033306,30000153.0,32506784.75,34999442.5,37490986.0,39999858.0,2886406.761494,9999705.0,4984201.25,8331343992800.654297
3,icustays.csv,first_careunit,94458,17,0,0.0%,object,Medical Intensive Care Unit (MICU),NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,icustays.csv,last_careunit,94458,17,0,0.0%,object,Medical Intensive Care Unit (MICU),NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,icustays.csv,intime,94458,94449,0,0.0%,datetime64[ns],2135-04-02 18:00:00,2153-09-27 20:32:30,94458,2153-10-25 12:54:18.197009408,2110-01-11 10:16:06,2133-11-20 18:31:35.500000256,2153-09-27 20:32:30,2173-11-22 06:48:00,2214-07-22 17:05:53,NaN,38177 days 06:49:47,14611 days 12:16:24.499999744,NaN
6,icustays.csv,outtime,94458,94442,14,0.0%,datetime64[ns],2143-08-24 17:52:00,2153-10-01 12:22:23.000000512,94444,2153-10-28 15:34:24.787058688,2110-01-12 17:17:47,2133-11-23 07:15:37.749999616,2153-10-01 12:22:23.000000512,2173-11-26 18:02:40.250000384,2214-07-26 17:13:57,NaN,38179 days 23:56:10,14613 days 10:47:02.500000768,NaN
7,icustays.csv,los,94458,84932,14,0.0%,float64,0.876516,1.965648,94444.0,3.630025,0.00125,1.096212,1.965648,3.862575,226.403079,5.402474,226.401829,2.766363,29.18672

In [19]:
df_icustays_final.to_csv("icustays_descriptive.csv")

## Table: **phecode_icd9** - Secondary Dataset

In [5]:
# Load csv
df_phecode_icd9 = pd.read_csv("phecode_icd9.csv")

In [6]:
# Create Copy 
df_phecode_icd9 = df_phecode_icd9.copy()

In [7]:
# Get number of unique values for each column and whether the column is unique 
unique_vals = pd.DataFrame(df_phecode_icd9.nunique())[0].tolist()
unique_vals_count = [val == len(df_phecode_icd9) for val in unique_vals]
print(unique_vals)
print(unique_vals_count)

[13310, 15359, 1866, 1865]
[False, False, False, False]

In [8]:
# Get count of null values in each column and calculate the percentage of nulls
df_phecode_icd9_null = pd.DataFrame(df_phecode_icd9.isna().sum().reset_index()).rename({'index':'name', 0:'null_count'}, axis=1)

# Get percent null by dividing null_count column by length of df * 100 and formatting into percentage
df_phecode_icd9_null['percent_null'] = df_phecode_icd9_null['null_count'].apply(lambda x: f"{round(x/df_phecode_icd9.shape[0]*100, 1)}%")
null_counts = df_phecode_icd9_null.null_count.tolist()
percent_nulls = df_phecode_icd9_null.percent_null.tolist()
print(null_counts[0:5])
print(percent_nulls[0:5])

[0, 0, 0, 1]
['0.0%', '0.0%', '0.0%', '0.0%']

In [9]:
# Get data types for each column
dtype_vals = pd.DataFrame(df_phecode_icd9.dtypes)[0].tolist()
dtype_vals

[dtype('O'), dtype('O'), dtype('float64'), dtype('O')]

In [10]:
# Calculate mode
modes = df_phecode_icd9.mode().iloc[0,]
modes

ICD9                                                          10
ICD9 String    Other acute and subacute forms of ischemic hea...
PheCode                                                     10.0
Phenotype                                           Tuberculosis
Name: 0, dtype: object

In [11]:
# Calculate median
medians = []
for i in df_phecode_icd9.columns:
    if (df_phecode_icd9[i]).dtype == "O":
        medians.append("NA")
    else:
        medians.append(df_phecode_icd9[i].median())
medians

['NA', 'NA', 574.105, 'NA']

In [12]:
# Create extra columns with table information
file_name = ['phecode_icd9.csv']*len(df_phecode_icd9.columns)
column_name = df_phecode_icd9.columns
row_count = [df_phecode_icd9.shape[0]]*len(df_phecode_icd9.columns)
logical_datatypes = dtype_vals

In [13]:
# Create a DataFrame with metadata columns
df_phecode_icd9_final = pd.DataFrame({'File Name':file_name, 'Column Name':column_name, 'Row Count':row_count, 
                        'Unique Values':unique_vals, 'Null Counts':null_counts, 'Null Percentage':percent_nulls,
                        'Logical Data Type':logical_datatypes, 'Mode':modes, 'Median':medians})

df_phecode_icd9_final

,File Name,Column Name,Row Count,Unique Values,Null Counts,Null Percentage,Logical Data Type,Mode,Median
ICD9,phecode_icd9.csv,ICD9,15558,13310,0,0.0%,object,10,NA
ICD9 String,phecode_icd9.csv,ICD9 String,15558,15359,0,0.0%,object,Other acute and subacute forms of ischemic hea...,NA
PheCode,phecode_icd9.csv,PheCode,15558,1866,0,0.0%,float64,10.0,574.105
Phenotype,phecode_icd9.csv,Phenotype,15558,1865,1,0.0%,object,Tuberculosis,NA

In [14]:
# Get descriptive statistics 
df_phecode_icd9_describe = df_phecode_icd9.describe().transpose()
df_phecode_icd9_describe

           count        mean         std  min    25%      50%    75%     max
PheCode  15558.0  540.780468  286.702391  8.0  312.0  574.105  755.6  1100.0

In [15]:
# Reset Index of Description table
df_phecode_icd9_describe = df_phecode_icd9_describe.reset_index(drop=False)

In [16]:
# Add 'Column Name' to Description table
df_phecode_icd9_describe.columns= ['Column Name'] + list(df_phecode_icd9_describe.columns[1:])
df_phecode_icd9_describe

,Column Name,count,mean,std,min,25%,50%,75%,max
0,PheCode,15558.0,540.780468,286.702391,8.0,312.0,574.105,755.6,1100.0

In [17]:
# Calculate Range, Interquartile Range and Variance 
df_phecode_icd9_describe["Range"] = df_phecode_icd9_describe['max'] - df_phecode_icd9_describe['min']
df_phecode_icd9_describe["Interquartile_Range"] = df_phecode_icd9_describe['75%'] - df_phecode_icd9_describe['25%']
df_phecode_icd9_describe["Variance"] = (df_phecode_icd9_describe['std'])**2

In [18]:
# Merge
df_phecode_icd9_final = df_phecode_icd9_final.merge(df_phecode_icd9_describe, how = 'left', on = 'Column Name')
df_phecode_icd9_final

,File Name,Column Name,Row Count,Unique Values,Null Counts,Null Percentage,Logical Data Type,Mode,Median,count,mean,std,min,25%,50%,75%,max,Range,Interquartile_Range,Variance
0,phecode_icd9.csv,ICD9,15558,13310,0,0.0%,object,10,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,phecode_icd9.csv,ICD9 String,15558,15359,0,0.0%,object,Other acute and subacute forms of ischemic hea...,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,phecode_icd9.csv,PheCode,15558,1866,0,0.0%,float64,10.0,574.105,15558.0,540.780468,286.702391,8.0,312.0,574.105,755.6,1100.0,1092.0,443.6,82198.260806
3,phecode_icd9.csv,Phenotype,15558,1865,1,0.0%,object,Tuberculosis,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_phecode_icd9_final.to_csv("phecode_icd9_descriptive.csv")

## Table: **phecodes_icd10** - Secondary Dataset

In [23]:
# Load csv
df_phecode_icd10 = pd.read_csv("phecode_icd10.csv")

In [24]:
# Get number of unique values for each column and whether the column is unique 
unique_vals = pd.DataFrame(df_phecode_icd10.nunique())[0].tolist()
unique_vals_count = [val == len(df_phecode_icd10) for val in unique_vals]
print(unique_vals)
print(unique_vals_count)

[9165, 9162, 1570, 1570]
[False, False, False, False]

In [25]:
# Get count of null values in each column and calculate the percentage of nulls
df_phecodes_icd10_null = pd.DataFrame(df_phecodes_icd10.isna().sum().reset_index()).rename({'index':'name', 0:'null_count'}, axis=1)

# Get percent null by dividing null_count column by length of df * 100 and formatting into percentage
df_phecodes_icd10_null['percent_null'] = df_phecodes_icd10_null['null_count'].apply(lambda x: f"{round(x/df_phecodes_icd10.shape[0]*100, 1)}%")
null_counts = df_phecodes_icd10_null.null_count.tolist()
percent_nulls = df_phecodes_icd10_null.percent_null.tolist()
print(null_counts[0:5])
print(percent_nulls[0:5])

[0, 1, 139, 139]
['0.0%', '0.0%', '1.5%', '1.5%']

In [26]:
# Get data types for each column
dtype_vals = pd.DataFrame(df_phecodes_icd10.dtypes)[0].tolist()
dtype_vals

[dtype('O'), dtype('O'), dtype('float64'), dtype('O')]

In [27]:
# Calculate mode
modes = df_phecodes_icd10.mode().iloc[0,]
modes

ICD10                                            M50.0
ICD10 String    Cervical disc disorder with myelopathy
PheCode                                         1009.0
Phenotype                                  Injury, NOS
Name: 0, dtype: object

In [ ]:
# Calculate median
medians = []
for i in df_phecodes_icd10.columns:
    if (df_icustays[i]).dtype == "O":
        medians.append("NA")
    else:
        medians.append(df_phecodes_icd10[i].median())
medians

[15005544.0,
 24982475.0,
 34999442.5,
 'NA',
 'NA',
 Timestamp('2153-09-27 20:32:30'),
 Timestamp('2153-10-01 12:22:23.000000512'),
 1.9656481481481485]

In [28]:
# Create extra columns with table information
file_name = ['phecodes_icd10.csv']*len(df_phecodes_icd10.columns)
column_name = df_phecodes_icd10.columns
row_count = [df_phecodes_icd10.shape[0]]*len(df_phecodes_icd10.columns)
logical_datatypes = dtype_vals

In [29]:
# Create a DataFrame with metadata columns
df_phecodes_icd10_final = pd.DataFrame({'File Name':file_name, 'Column Name':column_name, 'Row Count':row_count, 
                        'Unique Values':unique_vals, 'Null Counts':null_counts, 'Null Percentage':percent_nulls,
                        'Logical Data Type':logical_datatypes, 'Mode':modes, 'Median':medians})

df_phecodes_icd10_final

,File Name,Column Name,Row Count,Unique Values,Null Counts,Null Percentage,Logical Data Type,Mode,Median
ICD10,phecodes_icd10.csv,ICD10,9505,9165,0,0.0%,object,M50.0,NA
ICD10 String,phecodes_icd10.csv,ICD10 String,9505,9162,1,0.0%,object,Cervical disc disorder with myelopathy,NA
PheCode,phecodes_icd10.csv,PheCode,9505,1570,139,1.5%,float64,1009.0,574.105
Phenotype,phecodes_icd10.csv,Phenotype,9505,1570,139,1.5%,object,"Injury, NOS",NA

In [30]:
# Get descriptive statistics 
df_phecodes_icd10_describe = df_phecodes_icd10.describe().transpose()
df_phecodes_icd10_describe

          count        mean         std  min    25%    50%       75%     max
PheCode  9366.0  530.297189  283.983368  8.0  290.1  550.2  747.1825  1100.0

In [31]:
# Reset Index of Description table
df_phecodes_icd10_describe = df_phecodes_icd10_describe.reset_index(drop=False)

In [32]:
# Add 'Column Name' to Description table
df_phecodes_icd10_describe.columns= ['Column Name'] + list(df_phecodes_icd10_describe.columns[1:])
df_phecodes_icd10_describe

,Column Name,count,mean,std,min,25%,50%,75%,max
0,PheCode,9366.0,530.297189,283.983368,8.0,290.1,550.2,747.1825,1100.0

In [33]:
# Calculate Range, Interquartile Range and Variance 
df_phecodes_icd10_describe["Range"] = df_phecodes_icd10_describe['max'] - df_phecodes_icd10_describe['min']
df_phecodes_icd10_describe["Interquartile_Range"] = df_phecodes_icd10_describe['75%'] - df_phecodes_icd10_describe['25%']
df_phecodes_icd10_describe["Variance"] = (df_phecodes_icd10_describe['std'])**2

In [34]:
# Merge
df_phecodes_icd10_final = df_phecodes_icd10_final.merge(df_phecodes_icd10_describe, how = 'left', on = 'Column Name')
df_phecodes_icd10_final

,File Name,Column Name,Row Count,Unique Values,Null Counts,Null Percentage,Logical Data Type,Mode,Median,count,mean,std,min,25%,50%,75%,max,Range,Interquartile_Range,Variance
0,phecodes_icd10.csv,ICD10,9505,9165,0,0.0%,object,M50.0,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,phecodes_icd10.csv,ICD10 String,9505,9162,1,0.0%,object,Cervical disc disorder with myelopathy,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,phecodes_icd10.csv,PheCode,9505,1570,139,1.5%,float64,1009.0,574.105,9366.0,530.297189,283.983368,8.0,290.1,550.2,747.1825,1100.0,1092.0,457.0825,80646.553211
3,phecodes_icd10.csv,Phenotype,9505,1570,139,1.5%,object,"Injury, NOS",NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df_phecodes_icd10_final.to_csv("phecodes_icd10_descriptive.csv")